<!-- Footer -->
<footer>
    <div class="container">
        <ul class="list-inline">
          <li class="list-inline-item">
              <a href="/">Home</a>
          </li>
          <li class="footer-menu-divider list-inline-item">&sdot;</li>
          <li class="list-inline-item">
              <a href="/thich-nhat-hanh">About Thay</a>
          </li>
          <li class="footer-menu-divider list-inline-item">&sdot;</li>
          <li class="list-inline-item">
              <a href="/about">About Us</a>
          </li>
          <li class="footer-menu-divider list-inline-item">&sdot;</li>
          <li class="list-inline-item">
              <a href="/where">Where to Practice</a>
          </li>
          <li class="footer-menu-divider list-inline-item">&sdot;</li>
          <li class="list-inline-item">
              <a href="/events">Events Calendar</a>
          </li>
        </ul>
        <p class="copyright text-muted small">Copyright &copy; {{site.title}} 2017. All Rights Reserved</p>
    </div>
</footer>
