<aside class="links">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Sangha Resources</h4>
        <ul>
          <li><a href="/five-mindfulness-trainings" title="">5 Mindfulness Trainings</a></li>
          <li><a href="/fourteen-mindfulness-trainings" title="">14 Mindfulness Trainings</a></li>
          <li><a href="/contemplations-before-eating" title="">Contemplations before eating</a></li>
          <li><a href="/five-remembrances" title="">The Five Remembrances</a></li>
          <li><a href="/gathas" title="">Gatha Practice </a></li>
          <li><a href="/practice-songs" title="">Practice Songs </a></li>
        </ul>
      </div>
      <div class="col-md-4">
      	<h4>Helpful Links</h4>
      	<ul>
          <li><a href="http://plumvillage.org/" target="_blank">Plum Village</a></li>
          <li><a href="http://parallax.org/" target="_blank">Parallax Press</a></li>
          <li><a href="http://www.mindfulnessbell.org/" target="_blank">The Mindfulness Bell</a></li>
          <li><a href="http://deerparkmonastery.org/" target="_blank">Deer Park Monastery</a></li>
          <li><a href="http://bluecliffmonastery.org/" target="_blank">Blue Cliff Monastery</a></li>
          <li><a href="http://magnoliagrovemonastery.org/" target="_blank">Magnolia Grove Monastery</a></li>
          <li><a href="http://www.thichnhathanhfoundation.org/" target="_blank">Thich Nhat Hanh Foundation</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        	<div id="footer-logo"></div>
        	<p>Mindfulness, Concentration, Insight.</p>
      </div>
    </div>
  </div>
    <!-- /.container -->
</aside>
<!-- /.banner -->
