<!-- Navigation -->
<nav class="navbar fixed-top navbar-inverse navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <span id="site-logo"></span><a class="navbar-brand" href="/">{{site.title}}</a>
        <div class="collapse navbar-collapse" id="navbarExample">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="{% if page.path == 'thich-nhat-hanh.html' %}active {% endif %}nav-link" href="/thich-nhat-hanh">About Thay</a>
              </li>
              <li class="nav-item">
                  <a class="{% if page.path == 'about.html' %}active {% endif %}nav-link" href="/about">About Us</a>
              </li>
              <li class="nav-item">
                  <a class="{% if page.path == 'where.html' %}active {% endif %}nav-link" href="/where">Where to Practice</a>
              </li>
              <li class="{% if page.path == 'events.html' %}active {% endif %}nav-item">
                  <a class="nav-link" href="https://events.mindful.community">Events and Retreats</a>
              </li>
            </ul>
        </div>
    </div>
</nav>
