<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include nav.html %}
<section class="content-section-a">
    <div class="container">
      <hr class="section-heading-spacer">
      <div class="clearfix"></div>
      <h2 class="section-heading">{{page.title}}</h2>
      <div class="row">
          <div class="col-lg-6">
              <h2 class="section-heading"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
              <p>
                {% if page.start-date %}<strong>Starts:</strong> {{ page.start-date | date: "%b %-d, %Y" }}{% endif %}{% if page.end-date %}<strong> Ends: </strong> {{ page.end-date | date: "%b %-d, %Y" }}<br>{% endif %}
                {% if page.location %}<strong>Location:</strong> {{ page.location }}<br>{% endif %}
                {% if page.link %}<strong>Link:</strong> <a href="{{ page.link }}">{{ page.link }}</a><br>{% endif %}
              </p>
          </div>
          {% if page.image-link %}
          <div class="col-lg-6">
              <img class="img-fluid" src="{{page.image-link}}" style="padding:5px; max-height:300px" alt="Event Image">
          </div>
          {% endif %}
      </div>
      {{ content }}
      <br>
    </div>
</div>

{% include connect.html %}
{% include links.html %}
{% include footer.html %}
{% include scripts.html %}
</body>
</html>
